

<h3><%= "Entries for #{@project.name}"%></h3>

<ul>
  <% @entries.each do |entry| %>
  <li>
    <%= entry.hours %> h
    <%= entry.minutes %> m </br>
   Comments: <%= entry.comments %> 
  </li>
  <%end%>  
</ul>


<%= @contar %>